<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}AgendaVIP{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Registrar</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 AgendaVIP</p>
    </footer>
</body>
</html>
